<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kairos Ventures</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kairos_Ventures.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kairos Ventures</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cliente_Consulta">Novo</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Clientes">Alterar</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Clientes">Excluir</a>
                                </li>
                            </ul
                        
                        </li>
                       <li class="nav-item">
                          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="sair">Sair</a>

                        </li>
                        <li class="nav-item ms-auto">
                                  <form class="d-flex">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" >
                                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                                  </form>
                            </div>                        
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
     <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

           @* <!-- Formulário de Criação -->
            <form id="create-form">
                <input type="text" id="new-data" placeholder="Nome:">
            </form>

            <!-- Exibição de Dados -->
            <div id="data-display"></div>

            <!-- Formulário de Atualização -->
            <form id="update-form">
                <input type="text" id="update-data" placeholder="Atualize os dados aqui">
                <button type="submit">Atualizar</button>
            </form>

            <!-- Botão de Exclusão -->
            <button class="delete-button">Excluir</button>@**@
        </main>
    </div>
 
    <footer class="border-top footer text-muted">
        <div class="container">
            © 2023 - Kairos_Ventures - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
 </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById('create-form').addEventListener('submit', function (event) {
            // Código para criar dados
        });

        document.getElementById('update-form').addEventListener('submit', function (event) {
            // Código para atualizar dados
        });

        var deleteButtons = document.getElementsByClassName('delete-button');
        for (var i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].addEventListener('click', function (event) {
                // Código para excluir dados
            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>